*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(calculator.jpg);
}
.Screen{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    backdrop-filter: blur(60px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
}
.Screen:hover{
    box-shadow: 1px 1px 10px 1px rgba(199, 214, 209,.5);;
}
.display{
    height: 50px;
    width: 255px;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
    pointer-events: none;
    background-color: rgba(234, 231, 231, 0);
}
.Buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
}
.Buttons button{
    padding: 10px;
    border-radius: 45px;
    border: none;
    font-size: 20px;
    background-color: #eee;
    cursor: pointer;
}
.Buttons button:active{
    transform: scale(0.99)
}
.operator{
    color: rgb(18, 143, 196)
}
