* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6e7f80, #d9d9d9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Form Container */
.form-container {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    max-width: 100%;
    backdrop-filter: blur(10px);
    overflow: hidden;
}
.form-container:hover{
    box-shadow: 1px 1px 10px 1px rgba(199, 214, 209,.5);
}
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
.input-wrapper {
    position: relative;
}

/* Input Fields */
input {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #151617; 
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    background: transparent; 
    transition: border-color 0.3s ease-in-out;
}
input:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}
.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Button Styling */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

/* Button Hover Effect */
button:hover {
    background-color: #0056b3;
    transform: scale(1.02);
}
/*Error Messages*/
#errorMessages {
    color: #dc3545;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

/* Responsiveness*/
@media (max-width: 600px) {
    .form-container {
        width: 90%;
    }
}
